--
-- PostgreSQL database dump
--

\restrict 9emDLzi0usvSddo6CWlJoNgBPJlu08EcRdhsPGMHZGfD9PwU1q2eUOjnlDLPEwV

-- Dumped from database version 17.8 (a284a84)
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_emailaddress; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.account_emailaddress (
    id integer NOT NULL,
    email character varying(254) NOT NULL,
    verified boolean NOT NULL,
    "primary" boolean NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.account_emailaddress OWNER TO neondb_owner;

--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.account_emailaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_emailconfirmation; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.account_emailconfirmation (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    sent timestamp with time zone,
    key character varying(64) NOT NULL,
    email_address_id integer NOT NULL
);


ALTER TABLE public.account_emailconfirmation OWNER TO neondb_owner;

--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.account_emailconfirmation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailconfirmation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_emailverification; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.accounts_emailverification (
    id bigint NOT NULL,
    token character varying(64) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    is_verified boolean NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.accounts_emailverification OWNER TO neondb_owner;

--
-- Name: accounts_emailverification_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.accounts_emailverification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_emailverification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_placementbadge; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.accounts_placementbadge (
    id bigint NOT NULL,
    company character varying(150) NOT NULL,
    role character varying(150) NOT NULL,
    package character varying(50) NOT NULL,
    year smallint NOT NULL,
    user_id integer NOT NULL,
    CONSTRAINT accounts_placementbadge_year_check CHECK ((year >= 0))
);


ALTER TABLE public.accounts_placementbadge OWNER TO neondb_owner;

--
-- Name: accounts_placementbadge_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.accounts_placementbadge ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_placementbadge_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_userprofile; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.accounts_userprofile (
    id bigint NOT NULL,
    role character varying(10) NOT NULL,
    bio text NOT NULL,
    college character varying(200) NOT NULL,
    branch character varying(100) NOT NULL,
    batch_year smallint,
    semester smallint,
    avatar_url character varying(200) NOT NULL,
    github character varying(100) NOT NULL,
    codeforces character varying(100) NOT NULL,
    linkedin character varying(200) NOT NULL,
    skills jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    CONSTRAINT accounts_userprofile_batch_year_check CHECK ((batch_year >= 0)),
    CONSTRAINT accounts_userprofile_semester_check CHECK ((semester >= 0))
);


ALTER TABLE public.accounts_userprofile OWNER TO neondb_owner;

--
-- Name: accounts_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.accounts_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: appname_conversation; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.appname_conversation (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_a_id integer NOT NULL,
    user_b_id integer NOT NULL
);


ALTER TABLE public.appname_conversation OWNER TO neondb_owner;

--
-- Name: appname_conversation_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.appname_conversation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.appname_conversation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: appname_follow; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.appname_follow (
    id bigint NOT NULL,
    status character varying(10) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    follower_id integer NOT NULL,
    following_id integer NOT NULL
);


ALTER TABLE public.appname_follow OWNER TO neondb_owner;

--
-- Name: appname_follow_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.appname_follow ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.appname_follow_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: appname_message; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.appname_message (
    id bigint NOT NULL,
    content text NOT NULL,
    file_url character varying(200) NOT NULL,
    is_read boolean NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    conversation_id bigint NOT NULL,
    sender_id integer NOT NULL
);


ALTER TABLE public.appname_message OWNER TO neondb_owner;

--
-- Name: appname_message_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.appname_message ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.appname_message_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: appname_pinnedmessage; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.appname_pinnedmessage (
    id bigint NOT NULL,
    pinned_at timestamp with time zone NOT NULL,
    pinned_by_id integer,
    message_id bigint NOT NULL,
    room_id bigint NOT NULL
);


ALTER TABLE public.appname_pinnedmessage OWNER TO neondb_owner;

--
-- Name: appname_pinnedmessage_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.appname_pinnedmessage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.appname_pinnedmessage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: appname_resource; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.appname_resource (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    file_url character varying(200) NOT NULL,
    subject character varying(100) NOT NULL,
    semester smallint,
    downloads integer NOT NULL,
    upload_date timestamp with time zone NOT NULL,
    uploader_id integer NOT NULL,
    CONSTRAINT appname_resource_downloads_check CHECK ((downloads >= 0)),
    CONSTRAINT appname_resource_semester_check CHECK ((semester >= 0))
);


ALTER TABLE public.appname_resource OWNER TO neondb_owner;

--
-- Name: appname_resource_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.appname_resource ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.appname_resource_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: appname_resource_tags; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.appname_resource_tags (
    id bigint NOT NULL,
    resource_id bigint NOT NULL,
    tag_id bigint NOT NULL
);


ALTER TABLE public.appname_resource_tags OWNER TO neondb_owner;

--
-- Name: appname_resource_tags_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.appname_resource_tags ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.appname_resource_tags_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: appname_roommembership; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.appname_roommembership (
    id bigint NOT NULL,
    joined_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    room_id bigint NOT NULL
);


ALTER TABLE public.appname_roommembership OWNER TO neondb_owner;

--
-- Name: appname_roommembership_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.appname_roommembership ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.appname_roommembership_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: appname_roommessage; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.appname_roommessage (
    id bigint NOT NULL,
    content text NOT NULL,
    file_url character varying(200) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    sender_id integer NOT NULL,
    room_id bigint NOT NULL
);


ALTER TABLE public.appname_roommessage OWNER TO neondb_owner;

--
-- Name: appname_roommessage_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.appname_roommessage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.appname_roommessage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: appname_studyroom; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.appname_studyroom (
    id bigint NOT NULL,
    name character varying(150) NOT NULL,
    subject character varying(100) NOT NULL,
    description text NOT NULL,
    password_hash character varying(128) NOT NULL,
    max_members smallint NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    host_id integer NOT NULL,
    CONSTRAINT appname_studyroom_max_members_check CHECK ((max_members >= 0))
);


ALTER TABLE public.appname_studyroom OWNER TO neondb_owner;

--
-- Name: appname_studyroom_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.appname_studyroom ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.appname_studyroom_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: appname_tag; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.appname_tag (
    id bigint NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.appname_tag OWNER TO neondb_owner;

--
-- Name: appname_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.appname_tag ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.appname_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO neondb_owner;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO neondb_owner;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO neondb_owner;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO neondb_owner;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO neondb_owner;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO neondb_owner;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO neondb_owner;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO neondb_owner;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO neondb_owner;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO neondb_owner;

--
-- Name: socialaccount_socialaccount; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.socialaccount_socialaccount (
    id integer NOT NULL,
    provider character varying(200) NOT NULL,
    uid character varying(191) NOT NULL,
    last_login timestamp with time zone NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    extra_data jsonb NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.socialaccount_socialaccount OWNER TO neondb_owner;

--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.socialaccount_socialaccount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialaccount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.socialaccount_socialapp (
    id integer NOT NULL,
    provider character varying(30) NOT NULL,
    name character varying(40) NOT NULL,
    client_id character varying(191) NOT NULL,
    secret character varying(191) NOT NULL,
    key character varying(191) NOT NULL,
    provider_id character varying(200) NOT NULL,
    settings jsonb NOT NULL
);


ALTER TABLE public.socialaccount_socialapp OWNER TO neondb_owner;

--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.socialaccount_socialapp ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialtoken; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.socialaccount_socialtoken (
    id integer NOT NULL,
    token text NOT NULL,
    token_secret text NOT NULL,
    expires_at timestamp with time zone,
    account_id integer NOT NULL,
    app_id integer
);


ALTER TABLE public.socialaccount_socialtoken OWNER TO neondb_owner;

--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

ALTER TABLE public.socialaccount_socialtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: account_emailaddress; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.account_emailaddress (id, email, verified, "primary", user_id) FROM stdin;
2	karthikeyanspro@gmail.com	t	t	11
\.


--
-- Data for Name: account_emailconfirmation; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.account_emailconfirmation (id, created, sent, key, email_address_id) FROM stdin;
\.


--
-- Data for Name: accounts_emailverification; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.accounts_emailverification (id, token, created_at, is_verified, user_id) FROM stdin;
\.


--
-- Data for Name: accounts_placementbadge; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.accounts_placementbadge (id, company, role, package, year, user_id) FROM stdin;
\.


--
-- Data for Name: accounts_userprofile; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.accounts_userprofile (id, role, bio, college, branch, batch_year, semester, avatar_url, github, codeforces, linkedin, skills, created_at, updated_at, user_id) FROM stdin;
\.


--
-- Data for Name: appname_conversation; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.appname_conversation (id, created_at, updated_at, user_a_id, user_b_id) FROM stdin;
\.


--
-- Data for Name: appname_follow; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.appname_follow (id, status, created_at, updated_at, follower_id, following_id) FROM stdin;
\.


--
-- Data for Name: appname_message; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.appname_message (id, content, file_url, is_read, "timestamp", conversation_id, sender_id) FROM stdin;
\.


--
-- Data for Name: appname_pinnedmessage; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.appname_pinnedmessage (id, pinned_at, pinned_by_id, message_id, room_id) FROM stdin;
\.


--
-- Data for Name: appname_resource; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.appname_resource (id, title, description, file_url, subject, semester, downloads, upload_date, uploader_id) FROM stdin;
\.


--
-- Data for Name: appname_resource_tags; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.appname_resource_tags (id, resource_id, tag_id) FROM stdin;
\.


--
-- Data for Name: appname_roommembership; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.appname_roommembership (id, joined_at, user_id, room_id) FROM stdin;
\.


--
-- Data for Name: appname_roommessage; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.appname_roommessage (id, content, file_url, "timestamp", sender_id, room_id) FROM stdin;
\.


--
-- Data for Name: appname_studyroom; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.appname_studyroom (id, name, subject, description, password_hash, max_members, is_active, created_at, host_id) FROM stdin;
\.


--
-- Data for Name: appname_tag; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.appname_tag (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
da1bl3m79h0c5xjj0quam03uf5i72kz1	.eJxVj81uhDAMhN_FZ4Tyg_Ozt_Y1qgplE2dBpaQioRfEuzfs0gM3azzzebxBTn50k_M-rXPpc3GFMty2vYF_za1loLmM3pUxzf03lSGF6vnY4DXD7UqBmi1w41pLK7XRXau44pI38LOk3zHQUhOPlB4TVes6HgDOOoFCd8iElNYoVNZo2D8beN7v10xL_3JyuIh3579oPjZumg65PWu0T8-5zu3b5Y33M3VBDS4PByd4g4hKC8-slRKZUTrYyCJnFEnJWtXYiBwjGRdr33CPTlghI5LCAPsf0c1wCA:1w3GHE:hu_8wMokuNlDRFoTGZIdhOLUTElrxuj5S907mE8-3Tk	2026-04-02 16:31:16.385509+00
\.


--
-- Data for Name: socialaccount_socialaccount; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--



--
-- Data for Name: socialaccount_socialapp; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.socialaccount_socialapp (id, provider, name, client_id, secret, key, provider_id, settings) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialtoken; Type: TABLE DATA; Schema: public; Owner: neondb_owner
--

COPY public.socialaccount_socialtoken (id, token, token_secret, expires_at, account_id, app_id) FROM stdin;
\.


--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.account_emailaddress_id_seq', 2, true);


--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.account_emailconfirmation_id_seq', 1, false);


--
-- Name: accounts_emailverification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.accounts_emailverification_id_seq', 1, false);


--
-- Name: accounts_placementbadge_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.accounts_placementbadge_id_seq', 1, false);


--
-- Name: accounts_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.accounts_userprofile_id_seq', 1, false);


--
-- Name: appname_conversation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.appname_conversation_id_seq', 1, false);


--
-- Name: appname_follow_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.appname_follow_id_seq', 1, false);


--
-- Name: appname_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.appname_message_id_seq', 1, false);


--
-- Name: appname_pinnedmessage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.appname_pinnedmessage_id_seq', 1, false);


--
-- Name: appname_resource_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.appname_resource_id_seq', 1, false);


--
-- Name: appname_resource_tags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.appname_resource_tags_id_seq', 1, false);


--
-- Name: appname_roommembership_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.appname_roommembership_id_seq', 1, false);


--
-- Name: appname_roommessage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.appname_roommessage_id_seq', 1, false);


--
-- Name: appname_studyroom_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.appname_studyroom_id_seq', 1, false);


--
-- Name: appname_tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.appname_tag_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 92, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 11, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 23, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 35, true);


--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.socialaccount_socialaccount_id_seq', 2, true);


--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_id_seq', 1, false);


--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: neondb_owner
--

SELECT pg_catalog.setval('public.socialaccount_socialtoken_id_seq', 1, false);


--
-- Name: account_emailaddress account_emailaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress account_emailaddress_user_id_email_987c8728_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_email_987c8728_uniq UNIQUE (user_id, email);


--
-- Name: account_emailconfirmation account_emailconfirmation_key_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_key_key UNIQUE (key);


--
-- Name: account_emailconfirmation account_emailconfirmation_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_pkey PRIMARY KEY (id);


--
-- Name: accounts_emailverification accounts_emailverification_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.accounts_emailverification
    ADD CONSTRAINT accounts_emailverification_pkey PRIMARY KEY (id);


--
-- Name: accounts_emailverification accounts_emailverification_token_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.accounts_emailverification
    ADD CONSTRAINT accounts_emailverification_token_key UNIQUE (token);


--
-- Name: accounts_placementbadge accounts_placementbadge_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.accounts_placementbadge
    ADD CONSTRAINT accounts_placementbadge_pkey PRIMARY KEY (id);


--
-- Name: accounts_userprofile accounts_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_pkey PRIMARY KEY (id);


--
-- Name: accounts_userprofile accounts_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: appname_conversation appname_conversation_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_conversation
    ADD CONSTRAINT appname_conversation_pkey PRIMARY KEY (id);


--
-- Name: appname_conversation appname_conversation_user_a_id_user_b_id_ced485bc_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_conversation
    ADD CONSTRAINT appname_conversation_user_a_id_user_b_id_ced485bc_uniq UNIQUE (user_a_id, user_b_id);


--
-- Name: appname_follow appname_follow_follower_id_following_id_0a7e6a07_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_follow
    ADD CONSTRAINT appname_follow_follower_id_following_id_0a7e6a07_uniq UNIQUE (follower_id, following_id);


--
-- Name: appname_follow appname_follow_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_follow
    ADD CONSTRAINT appname_follow_pkey PRIMARY KEY (id);


--
-- Name: appname_message appname_message_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_message
    ADD CONSTRAINT appname_message_pkey PRIMARY KEY (id);


--
-- Name: appname_pinnedmessage appname_pinnedmessage_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_pinnedmessage
    ADD CONSTRAINT appname_pinnedmessage_pkey PRIMARY KEY (id);


--
-- Name: appname_pinnedmessage appname_pinnedmessage_room_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_pinnedmessage
    ADD CONSTRAINT appname_pinnedmessage_room_id_key UNIQUE (room_id);


--
-- Name: appname_resource appname_resource_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_resource
    ADD CONSTRAINT appname_resource_pkey PRIMARY KEY (id);


--
-- Name: appname_resource_tags appname_resource_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_resource_tags
    ADD CONSTRAINT appname_resource_tags_pkey PRIMARY KEY (id);


--
-- Name: appname_resource_tags appname_resource_tags_resource_id_tag_id_cfb413e3_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_resource_tags
    ADD CONSTRAINT appname_resource_tags_resource_id_tag_id_cfb413e3_uniq UNIQUE (resource_id, tag_id);


--
-- Name: appname_roommembership appname_roommembership_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_roommembership
    ADD CONSTRAINT appname_roommembership_pkey PRIMARY KEY (id);


--
-- Name: appname_roommembership appname_roommembership_room_id_user_id_8d90d1d3_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_roommembership
    ADD CONSTRAINT appname_roommembership_room_id_user_id_8d90d1d3_uniq UNIQUE (room_id, user_id);


--
-- Name: appname_roommessage appname_roommessage_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_roommessage
    ADD CONSTRAINT appname_roommessage_pkey PRIMARY KEY (id);


--
-- Name: appname_studyroom appname_studyroom_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_studyroom
    ADD CONSTRAINT appname_studyroom_pkey PRIMARY KEY (id);


--
-- Name: appname_tag appname_tag_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_tag
    ADD CONSTRAINT appname_tag_name_key UNIQUE (name);


--
-- Name: appname_tag appname_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_tag
    ADD CONSTRAINT appname_tag_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_provider_uid_fc810c6e_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_provider_uid_fc810c6e_uniq UNIQUE (provider, uid);


--
-- Name: socialaccount_socialapp socialaccount_socialapp_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialapp
    ADD CONSTRAINT socialaccount_socialapp_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq UNIQUE (app_id, account_id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress_email_03be32b2; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_emailaddress_email_03be32b2 ON public.account_emailaddress USING btree (email);


--
-- Name: account_emailaddress_email_03be32b2_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_emailaddress_email_03be32b2_like ON public.account_emailaddress USING btree (email varchar_pattern_ops);


--
-- Name: account_emailaddress_user_id_2c513194; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_emailaddress_user_id_2c513194 ON public.account_emailaddress USING btree (user_id);


--
-- Name: account_emailconfirmation_email_address_id_5b7f8c58; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_emailconfirmation_email_address_id_5b7f8c58 ON public.account_emailconfirmation USING btree (email_address_id);


--
-- Name: account_emailconfirmation_key_f43612bd_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX account_emailconfirmation_key_f43612bd_like ON public.account_emailconfirmation USING btree (key varchar_pattern_ops);


--
-- Name: accounts_emailverification_token_5371e402_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX accounts_emailverification_token_5371e402_like ON public.accounts_emailverification USING btree (token varchar_pattern_ops);


--
-- Name: accounts_emailverification_user_id_4f5b1661; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX accounts_emailverification_user_id_4f5b1661 ON public.accounts_emailverification USING btree (user_id);


--
-- Name: accounts_placementbadge_user_id_87602dd9; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX accounts_placementbadge_user_id_87602dd9 ON public.accounts_placementbadge USING btree (user_id);


--
-- Name: appname_conversation_user_a_id_8892814e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_conversation_user_a_id_8892814e ON public.appname_conversation USING btree (user_a_id);


--
-- Name: appname_conversation_user_b_id_e39a40b7; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_conversation_user_b_id_e39a40b7 ON public.appname_conversation USING btree (user_b_id);


--
-- Name: appname_follow_follower_id_51ab633d; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_follow_follower_id_51ab633d ON public.appname_follow USING btree (follower_id);


--
-- Name: appname_follow_following_id_f38b459e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_follow_following_id_f38b459e ON public.appname_follow USING btree (following_id);


--
-- Name: appname_message_conversation_id_e7f9928a; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_message_conversation_id_e7f9928a ON public.appname_message USING btree (conversation_id);


--
-- Name: appname_message_sender_id_a55837ef; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_message_sender_id_a55837ef ON public.appname_message USING btree (sender_id);


--
-- Name: appname_pinnedmessage_message_id_316236c9; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_pinnedmessage_message_id_316236c9 ON public.appname_pinnedmessage USING btree (message_id);


--
-- Name: appname_pinnedmessage_pinned_by_id_51599a04; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_pinnedmessage_pinned_by_id_51599a04 ON public.appname_pinnedmessage USING btree (pinned_by_id);


--
-- Name: appname_resource_tags_resource_id_d1f22842; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_resource_tags_resource_id_d1f22842 ON public.appname_resource_tags USING btree (resource_id);


--
-- Name: appname_resource_tags_tag_id_7d78c0bd; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_resource_tags_tag_id_7d78c0bd ON public.appname_resource_tags USING btree (tag_id);


--
-- Name: appname_resource_uploader_id_b070ecd7; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_resource_uploader_id_b070ecd7 ON public.appname_resource USING btree (uploader_id);


--
-- Name: appname_roommembership_room_id_1f62e868; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_roommembership_room_id_1f62e868 ON public.appname_roommembership USING btree (room_id);


--
-- Name: appname_roommembership_user_id_e16d1a6e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_roommembership_user_id_e16d1a6e ON public.appname_roommembership USING btree (user_id);


--
-- Name: appname_roommessage_room_id_58c7726b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_roommessage_room_id_58c7726b ON public.appname_roommessage USING btree (room_id);


--
-- Name: appname_roommessage_sender_id_5f96a696; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_roommessage_sender_id_5f96a696 ON public.appname_roommessage USING btree (sender_id);


--
-- Name: appname_studyroom_host_id_74062a72; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_studyroom_host_id_74062a72 ON public.appname_studyroom USING btree (host_id);


--
-- Name: appname_tag_name_5863dfec_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX appname_tag_name_5863dfec_like ON public.appname_tag USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: socialaccount_socialaccount_user_id_8146e70c; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX socialaccount_socialaccount_user_id_8146e70c ON public.socialaccount_socialaccount USING btree (user_id);


--
-- Name: socialaccount_socialtoken_account_id_951f210e; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX socialaccount_socialtoken_account_id_951f210e ON public.socialaccount_socialtoken USING btree (account_id);


--
-- Name: socialaccount_socialtoken_app_id_636a42d7; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX socialaccount_socialtoken_app_id_636a42d7 ON public.socialaccount_socialtoken USING btree (app_id);


--
-- Name: unique_primary_email; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX unique_primary_email ON public.account_emailaddress USING btree (user_id, "primary") WHERE "primary";


--
-- Name: unique_verified_email; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX unique_verified_email ON public.account_emailaddress USING btree (email) WHERE verified;


--
-- Name: account_emailaddress account_emailaddress_user_id_2c513194_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_2c513194_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_emailconfirmation account_emailconfirm_email_address_id_5b7f8c58_fk_account_e; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirm_email_address_id_5b7f8c58_fk_account_e FOREIGN KEY (email_address_id) REFERENCES public.account_emailaddress(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_emailverification accounts_emailverification_user_id_4f5b1661_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.accounts_emailverification
    ADD CONSTRAINT accounts_emailverification_user_id_4f5b1661_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_placementbadge accounts_placementbadge_user_id_87602dd9_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.accounts_placementbadge
    ADD CONSTRAINT accounts_placementbadge_user_id_87602dd9_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_userprofile accounts_userprofile_user_id_92240672_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.accounts_userprofile
    ADD CONSTRAINT accounts_userprofile_user_id_92240672_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_conversation appname_conversation_user_a_id_8892814e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_conversation
    ADD CONSTRAINT appname_conversation_user_a_id_8892814e_fk_auth_user_id FOREIGN KEY (user_a_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_conversation appname_conversation_user_b_id_e39a40b7_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_conversation
    ADD CONSTRAINT appname_conversation_user_b_id_e39a40b7_fk_auth_user_id FOREIGN KEY (user_b_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_follow appname_follow_follower_id_51ab633d_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_follow
    ADD CONSTRAINT appname_follow_follower_id_51ab633d_fk_auth_user_id FOREIGN KEY (follower_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_follow appname_follow_following_id_f38b459e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_follow
    ADD CONSTRAINT appname_follow_following_id_f38b459e_fk_auth_user_id FOREIGN KEY (following_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_message appname_message_conversation_id_e7f9928a_fk_appname_c; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_message
    ADD CONSTRAINT appname_message_conversation_id_e7f9928a_fk_appname_c FOREIGN KEY (conversation_id) REFERENCES public.appname_conversation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_message appname_message_sender_id_a55837ef_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_message
    ADD CONSTRAINT appname_message_sender_id_a55837ef_fk_auth_user_id FOREIGN KEY (sender_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_pinnedmessage appname_pinnedmessag_message_id_316236c9_fk_appname_r; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_pinnedmessage
    ADD CONSTRAINT appname_pinnedmessag_message_id_316236c9_fk_appname_r FOREIGN KEY (message_id) REFERENCES public.appname_roommessage(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_pinnedmessage appname_pinnedmessage_pinned_by_id_51599a04_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_pinnedmessage
    ADD CONSTRAINT appname_pinnedmessage_pinned_by_id_51599a04_fk_auth_user_id FOREIGN KEY (pinned_by_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_pinnedmessage appname_pinnedmessage_room_id_d8e61d84_fk_appname_studyroom_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_pinnedmessage
    ADD CONSTRAINT appname_pinnedmessage_room_id_d8e61d84_fk_appname_studyroom_id FOREIGN KEY (room_id) REFERENCES public.appname_studyroom(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_resource_tags appname_resource_tag_resource_id_d1f22842_fk_appname_r; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_resource_tags
    ADD CONSTRAINT appname_resource_tag_resource_id_d1f22842_fk_appname_r FOREIGN KEY (resource_id) REFERENCES public.appname_resource(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_resource_tags appname_resource_tags_tag_id_7d78c0bd_fk_appname_tag_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_resource_tags
    ADD CONSTRAINT appname_resource_tags_tag_id_7d78c0bd_fk_appname_tag_id FOREIGN KEY (tag_id) REFERENCES public.appname_tag(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_resource appname_resource_uploader_id_b070ecd7_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_resource
    ADD CONSTRAINT appname_resource_uploader_id_b070ecd7_fk_auth_user_id FOREIGN KEY (uploader_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_roommembership appname_roommembership_room_id_1f62e868_fk_appname_studyroom_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_roommembership
    ADD CONSTRAINT appname_roommembership_room_id_1f62e868_fk_appname_studyroom_id FOREIGN KEY (room_id) REFERENCES public.appname_studyroom(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_roommembership appname_roommembership_user_id_e16d1a6e_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_roommembership
    ADD CONSTRAINT appname_roommembership_user_id_e16d1a6e_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_roommessage appname_roommessage_room_id_58c7726b_fk_appname_studyroom_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_roommessage
    ADD CONSTRAINT appname_roommessage_room_id_58c7726b_fk_appname_studyroom_id FOREIGN KEY (room_id) REFERENCES public.appname_studyroom(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_roommessage appname_roommessage_sender_id_5f96a696_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_roommessage
    ADD CONSTRAINT appname_roommessage_sender_id_5f96a696_fk_auth_user_id FOREIGN KEY (sender_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: appname_studyroom appname_studyroom_host_id_74062a72_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.appname_studyroom
    ADD CONSTRAINT appname_studyroom_host_id_74062a72_fk_auth_user_id FOREIGN KEY (host_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_account_id_951f210e_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_account_id_951f210e_fk_socialacc FOREIGN KEY (account_id) REFERENCES public.socialaccount_socialaccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_app_id_636a42d7_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_app_id_636a42d7_fk_socialacc FOREIGN KEY (app_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_user_id_8146e70c_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_user_id_8146e70c_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict 9emDLzi0usvSddo6CWlJoNgBPJlu08EcRdhsPGMHZGfD9PwU1q2eUOjnlDLPEwV

